{% extends 'base.html' %}

{% block pagetitle %}Gifter{% endblock %}

{% block title %}Login to Gifter{% endblock %}

{% block primary %}

        <form id="login_form" method="post" action="/../../gifter/login/">
			{% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
        
{% endblock %}